<app-header></app-header>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets\images\products\tela1.jpg" class="card-img-top" alt="..." height="200">
        <div class="card-body">
          <h5 class="card-title">Tela</h5>
          <p class="card-text">Encuentra una amplia selección de telas de alta calidad en una gran variedad de estilos, colores y texturas.</p>
    
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="assets\images\products\piel1.jpg" class="card-img-top" alt="..." height="200">
  <div class="card-body">
    <h5 class="card-title">Piel y piel vinílica</h5>
    <p class="card-text">Ofrecemos pieles vinílicas duraderas y resistentes, ideales para muebles y accesorios de interior y exterior.</p>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="assets\images\products\alfombra.jpg" class="card-img-top" alt="..." height="200">
  <div class="card-body">
    <h5 class="card-title">Alfombra</h5>
    <p class="card-text">Nuestras alfombras de alta calidad son la opción perfecta para darle un toque de confort y estilo a cualquier vehículo.</p>
  </div>
</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="assets\images\products\hule.jpg" class="card-img-top" alt="..." height="200">
  <div class="card-body">
    <h5 class="card-title">Hule espuma</h5>
    <p class="card-text">Contamos con hule espuma de alta densidad para darle a tus asientos una comodidad duradera.</p>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets\images\products\herrajes.jpg" class="card-img-top" alt="..." height="200">
        <div class="card-body">
          <h5 class="card-title">Herrajes</h5>
          <p class="card-text">Ofrecemos una amplia selección de herrajes y accesorios de alta calidad.</p>
    
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="assets\images\products\otros.jpg" class="card-img-top" alt="..." height="200">
  <div class="card-body">
    <h5 class="card-title">Otros</h5>
    <p class="card-text">Encuentra todo lo que necesitas para tus proyectos de tapicería.</p>
  </div>
</div>
    </div>
  </div>
</div>