<div class="info-cont">
    <div class="info-cont-div">
        <h2>Sobre nosotros</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit vel reprehenderit molestias, ducimus obcaecati animi officiis iste quas voluptatem minus, et odit magni. Vitae, praesentium omnis tenetur inventore recusandae unde.</p>
    </div>
    <div class="info-cont-div">
        <h2>Productos</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, eius dolore, ullam quos consequatur amet, ducimus mollitia quidem magni modi voluptates natus itaque assumenda sit facilis sequi ratione expedita doloribus.</p>
    </div>
    <div class="info-cont-div">
        <h2>Encuentra</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque hic tenetur neque perspiciatis suscipit rerum. Omnis et, perferendis debitis praesentium deserunt inventore officiis, doloremque ea, consectetur fuga harum cumque totam?</p>
    </div>
</div>
