<div class="card">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Sobre nosotros</p>
        <footer class="blockquote-footer">
            Somos una empresa dedicada a proveer a nuestros clientes los mejores materiales y herramientas para proyectos de tapicería. 
            Desde telas de alta calidad hasta hule espuma, 
            alfombras y herrajes, en nuestra tienda encontrarás todo lo que necesitas para renovar tus muebles y darles un toque de estilo y confort.
        </footer>
        <br>
        <footer class="blockquote-footer">
            Nos enorgullece ofrecer una amplia selección de materiales de tapicería de alta 
            calidad a precios competitivos. Trabajamos directamente con los fabricantes para obtener los mejores precios y poder ofrecer a nuestros 
            clientes una gran variedad de opciones para sus proyectos.
        </footer>
        <br>
        <footer class="blockquote-footer">
            En nuestra tienda en línea, encontrarás todo lo que necesitas para tus proyectos de tapicería, 
            desde herramientas básicas hasta los materiales más especializados. Además, ofrecemos envíos a toda la región para que 
            puedas disfrutar de nuestros productos donde quiera que estés.
        </footer>
        <br>
        <footer class="blockquote-footer">
            Nuestra misión es ofrecer a nuestros clientes los mejores materiales y herramientas para que puedan crear 
            proyectos de tapicería increíbles y duraderos. 
        </footer>
      </blockquote>
    </div>
</div>
