.img-color {
    background-color: rgb(163, 62, 87);
    text-align: center;
    width: 100%;
}

.img-img {
    background-image: url('src\assets\images\tela.jpg');
    opacity: 1;
}

.img {
    margin: 50px 0 50px 0;
    width: 400px;
    opacity: 1;
}
